@use 'config';

.lang-select {
    display: flex;
    justify-content: flex-end;
    padding: 0.25em;
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;
    padding: 0em;
    
    .lang-opt {
        display: flex;
        padding: 0px;
    }
    
    img {
        height: 1.5em;
        margin: 0.75em;
        border-radius: 0.25em;
    }
    
    &.desktop {
        position: absolute;
        top: 0px;
        right: 0px;
        border-bottom-left-radius: 0.25em;
    }
    &.mobile {
        .lang-opt {
            margin-right: 1em;
        }
    }
    &.hide {
        animation: ls-hide 0.3s forwards;
    }

    @keyframes ls-hide {
        from {
            // top: 0px;
            height: 3em;
        }
        to {
            // top: -10em;
            height: 0px;
        }
    }
}